*{
  padding:0 ;
  margin:0;
  box-sizing: border-box;
  
  }
.content{
  height:80vh;
  
}
.navbar{
  background-color:rgba(184, 154, 213, 0.945) !important;
}
.register-page{
  display: flex;
  align-items:center ;
  justify-content: center;
  height: 90vh;
  background-color: rgb(204, 178, 207);
} 
/*transaction page*/
.filters{
  display: flex;
  align-items:center ;
  justify-content:space-between ;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
 
}
.anticon svg{
  font-size: 20px;
  cursor:pointer; 

}
.active-icon{
  color: black;
}
.inactive-icon{
  color: gray;

}
.switch-icons{
  border: 1px solid rgb(0, 0, 0.77);
  border-radius: 5px;
  padding: 10px 15px;
}
